body {
  font-family: "myriad-pro", "Helvetica Neue", Helvetica, Roboto, Arial,
               sans-serif;
  background-color: #f0fff0;
}

a {
  text-decoration: none;
  color: blue;
}

.main-header {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0;
}

.sub-header {
  text-align: center;
  margin-top: 0;
}

.list-of-files-wrapper {
  text-align: center;
}

.content-subhead {
  text-align: center;
  margin: 2em auto 0 auto;
}

.list-of-files {
  list-style: none;
  padding: 1em;
  display: inline-block;
  text-align: left;
}

.file-item {
  border: 1px solid transparent;
  padding: 0.5em;
}

.file-item:hover,
.file-item:active {
  border: 1px solid black;
  background-color: lightgreen;
}

.sequence-selector-wrapper {
  text-align: center;
}

.sequence-selector-button {
  display: inline-block;
  border: 1px solid black;
  background-color: #fffff0;
  text-decoration: none;
  padding: 1em;
}

.sequence-selector-button:hover {
  background-color: yellow;
}
